<div class="pagination">
    @if (this.totalItemsCount == 0)
    {
    <p class="pagination-info">No results</p>
    }@else {
    <p class="pagination-info">
        Showing
        <span class="font-medium">{{this.startItemIndex}}</span>
        to
        <span class="font-medium">{{this.endItemIndex}}</span>
        of
        <span class="font-medium">{{this.totalItemsCount}}</span>
        results
    </p>

    @if (this.pageTo > 1){
    <nav class="inline-flex -space-x-px" aria-label="Pagination">
        <a (click)="onChange(this.selectedPage -1)" class="rounded-l-md page-button">
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd"
                    d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                    clip-rule="evenodd" />
            </svg>
        </a>

        @for (page of this.pages; track page) {
        @if (page == this.selectedPage){
        <a aria-current="page" class="page-active">{{page}}</a>
        }@else {
        <a (click)="onChange(page)" class="page">{{page}}</a>
        }
        }
        <a (click)="onChange(this.selectedPage + 1)" class="rounded-r-md page-button">
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd"
                    d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </nav>
    }
    }
</div>