<div class="search-bar">
    <input #searchInput id="searchInput" name="searchInput" class="search-bar-input" [formControl]="searchControl" type="text" placeholder="Search..." />
    <!--Search img-->
    <svg (click)="searchInput.focus()" class="h-5 w-5 text-gray-400 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1116.65 6.65a7.5 7.5 0 010 10.6z" />
    </svg>
</div>